.App {
  margin: 0 auto;
  width: 100%;
  max-width: 1280px;
}

/*header*/
.App-header {
  float: right;
  font-size: 12px;
}

.App-header p {
  font-weight: 200;
}

.App-header a {
  font-size: 12px;
  color: #2496ed;
}

/*Menu*/
.box {
  clear: both;
}

ul {
  list-style: none;
  height: 50px;
}

a {
  text-decoration: none;
  font-weight: 300;
  font-size: 15px;
  text-align: center;
}

.menu {
  background-color: #2496ed;
  height: 64px;
  display: flex;
}

.menu a {
  color: #ffffff;
}

.menu li {
  margin: 0 12px;
  float: left;
  padding: 5px;
}

.menu a:hover {
  border-bottom: 2px #ffffff solid;
}
